/* - - - - - - - VARIABLES - - - - - - - -*/

$primary_color 	: #EF3F4F;
$text-color		: #454545;	
$accent_color  	: #FFF;

$default_padding: 0 50px;

/*Only to main background*/
$bg_color      	: #FFF; 
/*Only to main background*/

/* navbar */
$navbar-bg		: #FFF;	
$item-menu-color: #555;	
$logo-width		: 30px;
$logo-height	: 30px;
$margin_to_content:0px;

/* navbar */

/* - - - - - - - VARIABLES - - - - - - - -*/

body {
  background: $bg_color;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $text-color;
}

/* NAVBAR */
.hero{
	height: 250px;
	width:100%;
	background:$primary_color;
	position:relative;
	top:0;
	margin:0;
}

.navbar{
	background-color:$navbar-bg;
	padding:$default_padding;
	box-shadow:none;
	top:0;
	margin-bottom:$margin_to_content;
}
.navbar.shadow{	box-shadow:0 2px 4px rgba(0,0,0,0.20);}


.navbar .brand-logo img{
	width :  $logo-width;
	height: $logo-height;
	margin-top:17px;
}

.navbar ul li a{  
	background-color:transparent;
	color:$item-menu-color;
	font: 300 15px 'Roboto';
}
.navbar a.button-collapse i{
	color:$item-menu-color;
}
/* NAVBAR */

/* CONTENT */
.content{padding:$default_padding; margin-top:20px;}
.content .foruns-tags{padding:0;}
/* .content .foruns-tags .btn.btn-new-forum{width:90%;} */

.content .foruns{min-height: 70vh;  background-color: #F8F8F8; }
.content .foruns .input-field{margin:20px 0;padding:0 10px;}

.content  .forum-list .forum{
	padding-top:15px;
	margin:0 10px;
	/*transition:0.5s;
	border-left:10px solid transparent;
	*/
}

/* .content  .forum-list .forum:hover{
	background-color: #F0F0F0;
	border-left:10px solid #CCC;
} */
.content  .forum-list .forum .l11{
	border-bottom: 1px solid #EEE;
}
.content  .forum-list .forum img{
	width: 50px;
	height: 50px;	
	border-radius:50%;
	border:1px solid #DDD;
}
.content  .forum-list .forum a.forum-title{
	font-size:17px;
	color:#777;
}
.content  .forum-list .forum a.forum-title:hover{
	color:#444;
	text-decoration:underline;
}
.content .forum-list .info{ margin-top:20px;}
.content .forum-list .info span{
	background-color: #DA349A;
	height:30px;
	border-radius:4px;
	padding:3px 10px;
	color:#FFF;
	font:0.69em monospace;
}
.content .forum-list .info count{
	color:#333;
	font: 600 20px Helvetica;
}
/* CONTENT */

/*FOOTER*/
footer{

}
/*FOOTER*/





