<div class='navbar-container'>  
  <div class='navbar-fixed'>
    <nav class='navbar'>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><img src="/images/logo.png" alt=""></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi mdi-menu"></i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Cadastre-se</a></li>
          <li><a href="#">Login</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="#">Cadastre-se</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div>
    </nav>
  </div> 
</div>       
         